*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'open-sans', sans-serif;
}
h1, h2, h3, h4, h5, h5 {
    font-family: 'Montserrat', sans-serif;
}
.nav-link {
    color: #000;
    font-weight: 300;
}
.nav-link:hover{
    color: #000;
}
.btn{ 
    border-radius: 0!important;
}
.btn-danger {
    font-weight: 300!important;
    background-color: #0055FF!important;
    border: 1px solid #0055FF!important;
}
.btn-danger:hover {
    color: #0055FF!important;
    background-color: transparent!important;
    border: 1px solid #0055FF!important;
}


.hero {
    color: white;
    height: calc(100vh - 86px);
    background: linear-gradient(rgba(0, 4, 41, 0.8) 0%,rgba(0, 4, 41, 0.95) 50%),url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
}

    
.hero .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a.btn-book, input.btn-book {
    color: white;
    border: 1px solid #EA6F16;
    background-color: #EA6F16;
}
a.btn-book:hover {
    color: #EA6F16;
    border: 1px solid #EA6F16;
}
.slogan h1 {
    font-weight: 200;
    font-size: 5em;
    text-transform: uppercase;
}
.slogan p {
    font-size: 1.2em;
    font-weight: 300;
}
section {
    padding: 10vh 0;
}
section.reverse {
    color: #fff;
    background: #EA6F16;
}
section.reverse h3 {
    color: #fff;
}
section h3 {
    padding-bottom: 2rem;
    margin: 0;
    color: #000;
    text-align: center;
}
form {
    padding: 0 7rem;
}
.client{
    height: 16rem!important;
    background-size: 100%!important;
    background-position: center!important;
    border-radius: 5px;
}
.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
i.icon {
    font-size: 5rem!important; 
    color: #EA6F16!important;
}
.circle {
    width: 10rem;
    height: 10rem;
    background: #fff;
    border-radius: 100%;
    margin-bottom: 1.5rem;
}
.footer-top {
    background-color: #f5f5f5;
}
.footer-bottom {
    color: #fff;
    background-color: #EA6F16;
}